<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="E:/STY/studentmanagement">
        <classes>
            <class name="bz.sty.internship.school.SchoolTest">
                <methods>
                    <include name="testAddCourse"/>
                    <include name="testAddStudent"/>
                    <include name="testAddTeacher"/>
                    <include name="testAddTeacherToCourse"/>
                    <include name="testAddStudentToCourse"/>
                    <include name="testAddGradeForStudentInCourse"/>
                    <include name="testShowAllStudents"/>
                    <include name="testShowAllCoursesAndTheirTeachersAndStudents"/>
                    <include name="testShowAverageGradeForAllStudentsInCourse"/>
                    <include name="testShowAverageGradeForAllCourses"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>